{% extends "layout.html" %}

{% block title %}
    Reset tables
{% endblock %}

{% block body %}
    <h1>All tables were reset succesfully!</h1>

    <h2>First 10 Books:</h2>
    <ul>
        {% for book in books %}
        <li>Book number {{book.id}}, isbn: {{book.isbn}}, title: {{book.title}}, author: {{book.author}}, year: {{book.year}}</li>
        {% endfor %}
    </ul>

    <h2>Firsts 10 Users:</h2>
    <ul>
        {% for user in users %}
        <li>User number {{user.id}}, name: {{user.name}}, email: {{user.email}}, username: {{user.username}}, password: {{user.password}}</li>
        {% endfor %}
    </ul>
{% endblock %}
