{% extends "layout.html" %}

{% block title %}
    {{ book.title  }}
{% endblock %}

{% block body %}
<h1>{{ book.title }},</h1>
<h5>{{ book.author }}</h3>
<h5>ISBN: {{ book.isbn }}</h5>
{% if available %}
    <h5>Goodreads average rating: {{ avg }}</h5>
{% endif %}
<hr>
<div>
    <h2>Reviews:</h2>
    <ul>
        {% for review in reviews %}
        <li>
            <h6>{{ review.username }} said:</h6>
            Score: {{ review.rating }} <br>
            {{ review.text }}
            <hr>
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <h2>Submit your review</h2>
    <form action="{{ url_for('book', book_id=book.id) }}" method="post">

        <h6>Rate:</h6>
        <div class="form-group">
            <select class="form-control" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <hr>
        </div>

        <h6>Comments:</h6>
        <div class="form-group">
            <input class="form-control" name="text" placeholder="In my opinion, ...">
            <hr>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">submit review</button>
        </div>

    </form>

</div>

<div>
    <hr>
    <a href="{{ url_for('search') }}">Search another Book</a>.
</div>
{% endblock %}