<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1>Review4You</h1>
        </div>
    </div>
    <hr>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <hr>

    <div class="container">
        {% block ending %}
        {% endblock %}
    </div>

</body>

</html>